<div class="container" style="height:80vh">
  <h1>Voici la page de l'auteur : <span style="#344648"><%= @title%></span></h1>
  <h3 class="mb-5">Ses articles :</h3>

  <div class="container row">
    <% @gossips.each do |gossip| %>
      <% if gossip.title == @title%>
        <div class="card mb-3 mx-4 card-home" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text"><em><%= gossip.content %></em></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
