<h1 class="p-5">Team WhoopGossip</h1>
<div class="img">

</div>
<p>L'equipe qui a mis ce site en place se decarcasse pour, </br> 
   faire en sorte que votre temps passer sur Gossip soit un regal ! </p>
