@font-face {
    font-family: 'romance';
    src: url('../fonts/Sweet Romance.ttf');
}


body {
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 32%, rgba(71,6,68,1) 57%, rgba(88,7,76,1) 76%, rgba(121,9,92,1) 100%, rgba(132,0,255,1) 100%);
}

nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 32%, rgba(71,6,68,1) 57%, rgba(88,7,76,1) 76%, rgba(121,9,92,1) 100%, rgba(132,0,255,1) 100%);
    display: flex;
    flex-direction: row;
}

.navbar {
    font-size: 1.3em;
    color: aliceblue;
}
.navbar li .nav-link {
    color: aliceblue;
}

.center1 {
    justify-content: center;
}

label {
    color: aliceblue;
}

p {
    color: aliceblue;
}

h1 {
    color: aliceblue;
    padding-top: 5px;
    text-align: center;
    font-family: 'romance';
}

h2 {
    color: aliceblue;
}

h3 {
    color: aliceblue;
}
.row {
    display: flex;
    text-align: center;
}

.btn {
    background-color: blueviolet;
    border-color: none;
}

.btn-primary {
    border: none;
}

p {
    text-align: center;
}